<h1>Display your Pirate here</h1>
  <h3>Pirate Name: <%= @pirate.name %></h3><br>
<h3>Pirate Weight <%= @pirate.weight %></h3>
<h3>Pirate Height <%= @pirate.height %></h3>


<h1>Ship<h1>
<% @ships.each do |ship| %>
<div class="ship">

<h2>Display your first ship here</h2>
<p>Name: <%= ship["ship_name_1"] %></p>
<p>Type: <%= ship["ship_type_1"] %></p>
<p>Booty: <%= ship["ship_booty_1"] %></p>

<h2>Display your second ship here</h2>
<p>Name: <%= ship["ship_name_2"] %></p>
<p>Type: <%= ship["ship_type_2"] %></p>
<p>Booty: <%= ship["ship_booty_2"] %></p>

<% end %>







